name: Deploy MultiDocker
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - run: docker build -t vvb07/react-test -f ./client/Dockerfile.dev ./client
      - run: docker run -e CI=true vvb07/react-test npm test

      - run: docker build -t vvb07/multi-client ./client
      - run: docker build -t vvb07/multi-nginx ./nginx
      - run: docker build -t vvb07/multi-server ./server
      - run: docker build -t vvb07/multi-worker ./worker

      - run: docker push vvb07/multi-client
      - run: docker push vvb07/multi-nginx
      - run: docker push vvb07/multi-server
      - run: docker push vvb07/multi-worker

      - name: Generate deplyment package
        run: zip -r deploy.zip . -x '*.git*'
      
      - name: Deploy to EB
        uses: einaregilsson/beanstalk-deploy@v18
        with: 
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY }}
          aws_secret_key: ${{ secrets.AWS_SECRET_KEY }}
          application_name: multi-docker
          environment_name: Multi-docker-env
          existing_bucket_name: elasticbeanstalk-eu-north-1-220934191693
          region: eu-north-1
          version_label: ${{ github.sha }}
          deployment_package: deploy.zip